<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PsCmdletHelpEditor.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PsCmdletHelpEditor.BLL.Properties.Settings>
            <setting name="LoadPsFunctions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadPsFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadPsCmdlets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadPsWorkflows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadPsApplications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadPsDscConfigurations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadExternalPsScripts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadPsScripts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolbarLocked" serializeAs="String">
                <value>False</value>
            </setting>
        </PsCmdletHelpEditor.BLL.Properties.Settings>
    </userSettings>
</configuration>