<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CmdletHelpEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <CmdletHelpEditor.Properties.Settings>
            <setting name="FunctionChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CmdletChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WorkflowChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkflowEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigurationChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigurationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolbarChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusbarChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolbarLocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExternalScriptChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScriptChecked" serializeAs="String">
                <value>False</value>
            </setting>
        </CmdletHelpEditor.Properties.Settings>
    </userSettings>
</configuration>
