<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Markdig" version="0.38.0" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.2903.40" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net451" />
</packages>